.LoginForm{
    width:450px;
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: white;
    border: 1px solid black;
    margin: 40px auto;
    padding:20px;
    border-radius: 20px;
}
.loginSignupHeader{
   font-size:30px;
   font-weight:600;
   color:orange;
}
.input{
  width: 100%;
  height: 30px;
  margin-top:20px;
  padding:5px;
  font-size:15px;
}
.LoginFeild{
    width:400px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
        
}
.LoginBtn{
    width: 100%;
    height:40px;
    border: 1px solid black;
    background-color: orange;
    margin-top:30px;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}


@media (max-width:768px){
    .LoginForm{
        width:220px;
        height:120px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color: white;
        border: 1px solid black;
        margin: 20px auto;
        padding:20px;
        border-radius: 20px;
    }
    .loginSignupHeader{
       font-size:20px;
       font-weight:400;
       color:orange;
    }
    .input{
      width: 100%;
      height: 20px;
      margin-top:10px;
      margin-bottom:10px;
      padding:3px;
      font-size:7px;
    }
    .LoginFeild{
        width:150px;
        height: auto;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
            
    }
    .LoginBtn{
        width: 100%;
        height:20px;
        border: 1px solid black;
        background-color: orange;
        margin-top:10px;
        border-radius: 10px;
        color: white;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
}